<%# 部分テンプレートの命名規則：ファイル名の前に「＿」を付ける。 %>

<div class="chat-head">
  <div class="head-left">
    <div class="chat-room_name">
      チャットルーム名
    </div>
  </div>
  <div class="head-right">
    <div class="chat-end">
      <a>チャットを終了する</a>
    </div>
  </div>
</div>


<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        こんばんは
      </div>
    </div>
  </div>
</div>


<div class="chat-form">
  <div class="input-area">
    <input class="input-text" type="text" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="submit-button" type="submit" value="送信">
</div>