<%# 部分テンプレートの命名規則：ファイル名の前に「＿」を付ける。 %>
<div class="side-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat-create">
    <a href="">チャットを作成する</a>
  </div>
</div>

<div class="side-main">
  <div class="side-chatroom">
    <div class="chatroom">
      <a href="">チャットルーム1</a>
    </div>
  </div>
  <div class="side-chatroom">
    <div class="chatroom">
      <a href="">チャットルーム2</a>
    </div>
  </div>
  <div class="side-chatroom">
    <div class="chatroom">
      <a href="">チャットルーム3</a>
    </div>
  </div>
  <div class="side-chatroom">
    <div class="chatroom">
      <a href="">チャットルーム4</a>
    </div>
  </div>
  <div class="side-chatroom">
    <div class="chatroom">
      <a href="">チャットルーム5</a>
    </div>
  </div>
  <div class="side-chatroom">
    <div class="chatroom">
      <a href="">チャットルーム6</a>
    </div>
  </div>
  <div class="side-chatroom">
    <div class="chatroom">
      <a href="">チャットルーム7</a>
    </div>
  </div>
  <div class="side-chatroom">
    <div class="chatroom">
      <a href="">チャットルーム8</a>
    </div>
  </div>
  <div class="side-chatroom">
    <div class="chatroom">
      <a href="">チャットルーム9</a>
    </div>
  </div>
</div>